$fontFamily: 'Circular', 'Arial', 'sans-serif';
$proxima: 'Arial', 'sans-serif';
$fontSize: 16px;

$darkPink: #F78BB6;
$lightPink: #FFF1F9;
$grayColor: #919299;
$darkGrayColor: #56597A;
$lightGrayColor: #AAAAAB;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;